.custom-btn {
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.custom-btn:hover {
    border-color: #f47979;
    color: #f37070;
}

#whycare-click-text {
    font-size: 40px;
    color: #ea9999;
    border: 4px solid #ea9999;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: color 0.3s ease, border-color 0.3s ease; /* Smooth transition for text and border */
}

#whycare-click-text:hover {
    color: #ff4646;         /* New text color on hover */
    border-color: #ff4646;   /* New border color on hover */
}

#section7 {
    background-color: #565657;
    color: white;
    text-align: center;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#section7 h1 {
    font-size: 36px;
    margin-bottom: 20px;
    font-weight: bold;
}

#section7 p {
    max-width: 800px;
    font-size: 20px;
    line-height: 1.6;
}
